.navbar-middle{
    flex-basis: 1000px;
}

.input{
    margin-top: 8px;
}

.navbar-start{
    margin-right: 0px;
}

.navbar-end{
    margin-left: 0px;
}

.button{
    margin-left: 5px;
    margin-right: 5px;
}