body{
    background-color: #f5f5f5;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#main{
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

.profile-panel{
    height: 100%;
}

.subreddit-panel{
    height: 100%;
}


#profile_bar{
    width: 100px;
}

.footer{
    background-color: #f5f5f5;
}

.navbar-middle{
    /* Width of Search Bar */
    flex-basis: 45%;
}

#delete-button{
    width: 99%;
}


.input{
    margin-top: 8px;
}

.navbar-start{
    margin-right: 0px;
}

.button{
    margin-left: 5px;
    margin-right: 5px;
}

.nav img{
    width: 100px;
}

#card_title{
    font-size: 1.6rem;
}

.not-member-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.not-member-message{
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;
}

.not-member-asterisk{
    color: #3298dc;
}