{% extends 'main.html' %}
{% block content %}
<div>
    <img src="{{ user.image.url }}" alt="Profile Image">
    <div>uc/{{ user.username }}</div>
    <div>{{ user.email }}</div>
    {% if user.bio %}
        <div>{{ user.bio }}</div>
    {% endif %}
    <form method='post' action='' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='Submit'>
    </form>
    <h3>Subscribed Channels</h3>
    {% for subreddit in joined %}
        <a href="{% url 'subreddit' subreddit.title 'recent' %}">
            <p>{{ subreddit.title }}</p>
        </a>
    {% endfor %}
    {% if request.user == post.user or request.user.is_staff %}
        <form method='get' action='/user/{{user.username}}/delete' enctype="multipart/form-data">
            {% csrf_token %}
            <input type='submit' value='Delete Profile'>
        </form>
    {% endif %}
    
    {% include 'post/post_list.html' %}
</div>
{% endblock content %}