{% extends 'main.html' %}
{% block content %}
<h2>{{ title }}</h2>
<form action="" method="post">
    {% csrf_token %}
    {{ form.username }}
    {{ form.password }}
    <input type="submit" value="Submit">
</form>
{% if messages %}
    {% for message in messages %}
        <p>Notice: {{ message }}</p>
    {% endfor %}
{% endif %}
    <script>    
        let usernameField = document.getElementById('id_username')
        usernameField.placeholder = "Username"
        let passwordField = document.getElementById('id_password')
        passwordField.placeholder = "Enter password"
    </script>
{% endblock %}