{% extends 'main.html' %}
{% block content %}
<h2>Sign Up</h2>
<form action="" method="post">
    {% csrf_token %}
    {{form.username}}
    {{form.email}}
    {{form.password1}}
    {{form.password2}}
    <input type="submit" value="Submit">
</form>

{{form.errors}}

<script>
    let usernameField = document.getElementById('id_username')
    usernameField.placeholder = "Username"
    let emailField = document.getElementById('id_email')
    emailField.placeholder = "Email"
    let passwordField1 = document.getElementById('id_password1')
    passwordField1.placeholder = "Enter password"
    let passwordField2 = document.getElementById('id_password2')
    passwordField2.placeholder = "Re-enter password"
</script>
{% endblock %}