{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedditClone: the clone of the front page of the internet</title>
</head>
<body>
    {% include 'authentication/navbar.html' %}
    
    {% comment %} Search Bar {% endcomment %}
    <form action="/subreddit/search/" method="">
        {% csrf_token %}
        {{ subreddit_filter.form.title }}
    </form>

    {% block content %}
    {% endblock content %}
    {% include 'post/post_list.html' %}
    {% include 'authentication/sidebar.html' %}
    <script>
        let searchField = document.getElementById('id_title')
        if(searchField !== null){
            searchField.placeholder = "Search"
        }
    </script>
</body>
</html>