{% extends 'main.html' %}
{% block content %}
<div>
    <ul>
        <li><a href="/posts/createpost/message">Create Text Post</a></li>
        <li><a href="/posts/createpost/link">Create URL Post</a></li>
        <li><a href="/posts/createpost/image">Create Image Post</a></li>
    </ul>
    <form method='post' action='' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.subreddit.label }}
        {{ form.subreddit }}
        {{ form.title }}
        {{ form.post }}
        {{ form.link }}
        {{ form.image }}
        
        <input type='submit' value='Post'>
    </form>

    <script>
        let titleField = document.getElementById('post_input')
        if(titleField !== null){
            titleField.placeholder = "Title"
        }
        let postField = document.getElementById('id_post')
        if(postField !== null){
            postField.placeholder = "Text(required)"
        }
        let linkField = document.getElementById('id_link')
        if(linkField !== null){
            linkField.placeholder = "Link"
        }
    </script>
</div>

{% endblock content %}