{% extends 'main.html' %}
{% block content %}
{% if post.title %}
    <h1>{{ post.title }}</h1>
{% endif %}
<h3>by {{ post.user }}</h3>
<a href="{% url 'subreddit' post.subreddit.title 'recent' %}">
    <h3>{{ post.subreddit.title }}</h3>
</a>

{% if request.user.is_authenticated %}
    <form method='post' action='/posts/like_dis_post/{{post.id}}/Like/' enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <input type="submit" value="Like">
    </form>
    <form method='post' action='/posts/like_dis_post/{{post.id}}/Dislike/' enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <input type='submit' value="Dislike">
    </form>
    {{ post.getPopularity }}
{% endif %}
<hr>

<!-- Checks for type of post and displays it -->
{% if post.post %}
    <p>{{ post.post }}</p>
{% elif post.link %}
    <a href='{{post.link}}'>{{ post.link }}</a>
{% elif post.image %}
    <img src='{{post.image.url}}'>
{% endif %}

{% if request.user == post.user or request.user.is_staff %}
    <form method='post' action='/posts/delete_post/{{ post.id }}/' enctype="multipart/form-data">
        {% csrf_token %}
        <input type='submit' value='X'>
    </form>
{% endif %}
<hr>

<h2> Comments </h2>
<hr>
{% for comment in comments %}
    <h3>{{ comment.user }}</h3>
    <h4><a href='/posts/like_dis_comment/{{comment.id}}/{{post.id}}/Like/'>Like {{ comment.up_vote.count }}</a></h4>
    <h4><a href='/posts/like_dis_comment/{{comment.id}}/{{post.id}}/Dislike/'>Dislike {{comment.down_vote.count }}</a></h4>
    <p>{{ comment.message }}</p>
    <hr>
{% endfor %}
<form method='post' action='/posts/addcomment/{{post.id}}/' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='Add Comment'>
</form>
{% endblock %}