{% load static %}

<div class="tile is-child notification is-info">
    {% for post in posts %}
        {% comment %} Title/text type Post {% endcomment %}
        {% if post.post %}
            <div class="card">
                <div>
                    <div class="card-content">
                        <p>{{ post.created_at }}</p>
                        <p>{{ post.title }}</p>
                        <p class="title" id="card_title">
                        {{ post.post }}
                        </p>
                        <p class="subtitle">
                            <a href='/user/{{post.user.username}}'>{{post.user}}</a>
                            in
                            <a href="{% url 'subreddit' post.subreddit.title 'recent' %}">
                                rc/{{ post.subreddit.title }}
                            </a>
                        </p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                        <span>
                            <a href="{% url 'post_detail' post.id %}">View</a>
                        </span>
                        </p>
                            {% if request.user.is_authenticated %}
                                <form method='post' action='/posts/like_dis_post/{{post.id}}/Like/' enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <input class="button is-primary is-inverted is-small" type="submit" value="Like">
                                </form>
                            {% endif %}
                                <p style="margin-top: 4px;">
                                {% if post.getPopularity > 0 %}
                                    <span style="color: #00d1b2;">
                                        {{ post.getPopularity }}
                                    </span>
                                {% elif post.getPopularity == 0 %}
                                    {{ post.getPopularity }}
                                {% else %}
                                    <span style="color: #f14668;">
                                        {{ post.getPopularity }}
                                    </span>
                                {% endif %}
                                </p>
                            {% if request.user.is_authenticated %}
                                <form method='post' action='/posts/like_dis_post/{{post.id}}/Dislike/' enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <input class="button is-danger is-inverted is-small" type='submit' value="Dislike">
                                </form>
                            {% endif %}
                    </footer>
                </div>
                <div>
                    {% comment %} Admin or current user delete {% endcomment %}
                    {% if request.user == post.user or request.user.is_staff %}
                    <form method='post' action='/posts/delete_post/{{ post.id }}/' enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <input type='submit' value='X' id="delete-button" class="button is-danger is-outlined s-small is-fullwidth">
                    </form>
                    {% endif %}
                </div>
            </div>
            <br/>

        {% comment %} Title/link type Post {% endcomment %}
        {% elif post.link %}
            <div class="card">
                <div>
                    <div class="card-content">
                        <p>{{ post.created_at }}</p>
                        <p>{{ post.title }}</p>
                        <p class="title" id="card_title">
                        <a href='{{post.link}}'>{{ post.link }}</a>
                        </p>
                        <p class="subtitle">
                            <a href='/user/{{post.user.username}}'>{{post.user}}</a>
                            in
                            <a href="{% url 'subreddit' post.subreddit.title 'recent' %}">
                                rc/{{ post.subreddit.title }}
                            </a>
                        </p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                        <span>
                            <a href="{% url 'post_detail' post.id %}">View</a>
                        </span>
                        </p>
                            {% if request.user.is_authenticated %}
                                <form method='post' action='/posts/like_dis_post/{{post.id}}/Like/' enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <input class="button is-primary is-inverted is-small" type="submit" value="Like">
                                </form>
                            {% endif %}
                                <p style="margin-top: 4px;">
                                {% if post.getPopularity > 0 %}
                                    <span style="color: #00d1b2;">
                                        {{ post.getPopularity }}
                                    </span>
                                {% elif post.getPopularity == 0 %}
                                    {{ post.getPopularity }}
                                {% else %}
                                    <span style="color: #f14668;">
                                        {{ post.getPopularity }}
                                    </span>
                                {% endif %}
                                </p>
                            {% if request.user.is_authenticated %}
                                <form method='post' action='/posts/like_dis_post/{{post.id}}/Dislike/' enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <input class="button is-danger is-inverted is-small" type='submit' value="Dislike">
                                </form>
                            {% endif %}
                    </footer>
                </div>
                <div>
                    {% comment %} Admin or current user delete {% endcomment %}
                    {% if request.user == post.user or request.user.is_staff %}
                    <form method='post' action='/posts/delete_post/{{ post.id }}/' enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <input type='submit' value='X' id="delete-button" class="button is-danger is-outlined s-small is-fullwidth">
                    </form>
                    {% endif %}
                </div>
            </div>
            <br/>

        {% comment %} Title/image type Post {% endcomment %}
        {% elif post.image %}
            <div class="card">
                <div>
                    <div class="card-content">
                        <p>{{ post.created_at }}</p>
                        {% if post.title %}
                            <p>{{ post.title }}</p>
                        {% endif %}
                        <p class="title" id="card_title">
                        <img src='{{ post.image.url }}'>
                        </p>
                        <p class="subtitle">
                            <a href='/user/{{post.user.username}}'>{{post.user}}</a>
                            in
                            <a href="{% url 'subreddit' post.subreddit.title 'recent' %}">
                                rc/{{ post.subreddit.title }}
                            </a>
                        </p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                        <span>
                            <a href="{% url 'post_detail' post.id %}">View</a>
                        </span>
                        </p>
                            {% if request.user.is_authenticated %}
                                <form method='post' action='/posts/like_dis_post/{{post.id}}/Like/' enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <input class="button is-primary is-inverted is-small" type="submit" value="Like">
                                </form>
                            {% endif %}
                            <p style="margin-top: 2px; margin-right: 6px;">
                            {% if post.getPopularity > 0 %}
                                <span style="color: #00d1b2;">
                                    {{ post.getPopularity }}
                                </span>
                            {% elif post.getPopularity == 0 %}
                                {{ post.getPopularity }}
                            {% else %}
                                <span style="color: #f14668;">
                                    {{ post.getPopularity }}
                                </span>
                            {% endif %}
                            </p>
                            {% if request.user.is_authenticated %}
                                <form method='post' action='/posts/like_dis_post/{{post.id}}/Dislike/' enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <input class="button is-danger is-inverted is-small" type='submit' value="Dislike">
                                </form>
                            {% endif %}
                            </p>
                    </footer>
                </div>
                <div>
                    {% comment %} Admin or current user delete {% endcomment %}
                    {% if request.user == post.user or request.user.is_staff %}
                    <form method='post' action='/posts/delete_post/{{ post.id }}/' enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <input type='submit' value='X' id="delete-button" class="button is-danger is-outlined s-small is-fullwidth">
                    </form>
                    {% endif %}
                </div>
            </div>
            <br/>
        {% endif %}
    {% endfor %}
</div>