{% load static %}

<div>
    {% for post in posts %}
        <h4>by uc/<a href='/user/{{post.user.username}}'>{{post.user}}</a></h4>
        {% if post.post %}
            <h3>Created: {{ post.created_at }}</h3>
            <h4><a href='/posts/like_post/{{post.id}}'>Like</a> {{ post.up_vote.count }}</h4>
            <h4><a href='/posts/dislike_post/{{post.id}}'>Dislike</a> {{ post.down_vote.count }}</h4>
            <h2>{{ post.post }}</h2>
            {% if request.user == post.user or request.user.is_staff %}
                <form method='post' action='/posts/delete_post/{{ post.id }}/' enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input type='submit' value='X'>
                </form>
            {% endif %}
        {% elif post.link %}
            <h3>Created: {{ post.created_at }}</h3>
            <h4><a href='/posts/like_post/{{post.id}}'>Like</a> {{ post.up_vote.count }}</h4>
            <h4><a href='/posts/dislike_post/{{post.id}}'>Dislike</a> {{ post.down_vote.count }}</h4>
            <h2><a href='{{post.link}}'>{{ post.link }}</a></h2>
            {% if request.user == post.user or request.user.is_staff %}
                <form method='post' action='/posts/delete_post/{{ post.id }}/' enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input type='submit' value='X'>
                </form>
            {% endif %}
        {% elif post.image %}
            <h3>Created: {{ post.created_at }}</h3>
            <h4><a href='/posts/like_post/{{post.id}}'>Like</a> {{ post.up_vote.count }}</h4>
            <h4><a href='/posts/dislike_post/{{post.id}}'>Dislike</a> {{ post.down_vote.count }}</h4>
            <img src='{{post.image.url}}'>
            {% if request.user == post.user or request.user.is_staff %}
                <form method='post' action='/posts/delete_post/{{ post.id }}/' enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input type='submit' value='X'>
                </form>
            {% endif %}
        {% endif %}
        <hr>
    {% endfor %}
</div>