{% extends 'main.html' %}
{% block content %}
<div>
    <h1>{{ subreddit.title }}</h3>
        {% if request.user.is_authenticated %}
            <a href="{% url 'subscribe_subreddit' subreddit.id %}">
                {% if is_member %}
                    <button type="button">Leave</button>
                {% else %}
                    <button type="button">Join</button>
                {% endif %}
            </a>    
        {% endif %}
    <p>About: {{ subreddit.about }}</p>
    <p>Created at: {{ subreddit.created_at }}</p>
    <div>
        <span>{{ members|length }}</span>
        <br/>
        <span>Members</span>
    </div>
    <p>
        Sort by: 
        <a href='/subreddit/page/{{subreddit.title}}/trending'>
            Trending
        </a>   
        <a href='/subreddit/page/{{subreddit.title}}/recent'>
            Recent
        </a>
    </p>
    {% if not posts %}
        <section class="tile is-parent">
                <div class="tile is-child notification is-info not-member-parent">
                    <div class="card not-member-card">
                        <div class="card-content">
                            <p>{{ post.created_at }}</p>
                            <p>{{ post.title }}</p>
                            <p class="title" id="card_title">
                            {{ post.post }}
                            </p>
                            <p class="subtitle not-member-message">
                                Currently no posts on this subreddit, feel free to be the first.
                                <br/>
                                <br />
                                <i class="fas fa-asterisk animate__animated animate__rotateIn not-member-asterisk"></i>
                            </p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <span></span>
                            </p>
                            <p class="card-footer-item">
                                <span><br/></span>
                            </p>
                        </footer>
                    </div>
                </div>
            </section>
    {% endif %}
</div>
{% endblock content %}