{% extends 'main.html' %}
{% block content %}
<div>
    <h1>{{ subreddit.title }}</h3>
    <p>About: {{ subreddit.about }}</p>
    <p>Created at: {{ subreddit.created_at }}</p>
    <div>
        <span>{{ members|length }}</span>
        <br/>
        <span>Members</span>
    </div>
    {% for post in posts %}
        <h4>by u/{{post.user}}</h4>
        {% if post.post %}
            <h2>{{ post.post }}</h2>
            {% if request.user == post.user or request.user.is_staff %}
                <a href='/posts/delete_post/{{ post.id }}'>
                    <button>x</button>
                </a>
            {% endif %}
        {% elif post.link %}
            <h2><a href='{{post.link}}'>{{ post.link }}</a></h2>
            {% if request.user == post.user or request.user.is_staff %}
                <a href='/posts/delete_post/{{ post.id }}'>
                    <button>x</button>
                </a>
            {% endif %}
        {% elif post.image %}
            <img src='{{post.image.url}}'>
            {% if request.user == post.user or request.user.is_staff %}
                <a href='/posts/delete_post/{{ post.id }}'>
                    <button>x</button>
                </a>
            {% endif %}
        {% endif %}
        <hr>
    {% endfor %}
</div>
{% endblock content %}